<% layout ('layouts/boilerplate') %>
    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>
    <div><img style="width: 650px; height: 550px;" src="<%= campground.image %>" alt=""></div>
    <p><%= campground.description %></p>
    <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
     <form method="POST" action="/campgrounds/<%=campground._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>